<div class="container-fluid" style="margin-top:20px">
  <div class="row">
    <div class="col-md-12">
      <div class="tree">
        <ul>
          <li>
            <a href="#">

              <div class="container-fluid">
                <div class="row">
                  Top level
                </div>
                <div class="row" style="margin-top: 35px;">
                  <i class="fa fa-exclamation-circle fa-2x"></i>
                </div>
                <div class="row">
                  15 Failed Tests
                </div>
              </div>

            </a>

            <ul>
              <li>
                <a href="#">

                  <div class="container-fluid">
                    <div class="row">
                      Customer
                    </div>
                    <div class="row" style="margin-top: 35px;">
                      <i class="fa fa-exclamation-circle fa-2x"></i>
                    </div>
                    <div class="row">
                      3 Failed Tests
                    </div>
                  </div>

                </a>
              </li>
              <li>
                <a href="#">

                  <div class="container-fluid">
                    <div class="row">
                      Payments
                    </div>
                    <div class="row" style="margin-top: 35px;">
                      <i class="fa fa-exclamation-circle fa-2x"></i>
                    </div>
                    <div class="row">
                      5 Failed Tests
                    </div>
                  </div>

                </a>
                
                <ul>
                  <li>
                    <a href="#">

                      <div class="container-fluid">
                        <div class="row">
                          Send Money
                        </div>
                        <div class="row" style="margin-top: 35px;">
                          <i class="fa fa-exclamation-circle fa-2x"></i>
                        </div>
                        <div class="row">
                          3 Failed Tests
                        </div>
                      </div>

                    </a>
                  </li>
                  <li>
                    <a href="#">

                      <div class="container-fluid">
                        <div class="row">
                          Send Request
                        </div>
                        <div class="row" style="margin-top: 35px;">
                          <i class="fa fa-exclamation-circle fa-2x"></i>
                        </div>
                        <div class="row">
                          2 Failed Tests
                        </div>
                      </div>

                    </a>
                  </li>
                </ul>

              </li>
              <li>
                <a href="#">

                  <div class="container-fluid">
                    <div class="row">
                      Online
                    </div>
                    <div class="row" style="margin-top: 35px;">
                      <i class="fa fa-exclamation-circle fa-inv fa-2x"></i>
                    </div>
                    <div class="row">
                      7 Failed Tests
                    </div>
                  </div>

                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>